<%= turbo_frame_tag("favorite-concerts") do %>
  <section class="my-4"
      data-controller="css-toggle"
      data-css-toggle-css-class="shrink"
      data-css-toggle-status-value="false">
    <div class="text-3xl font-bold">
      Favorite Concerts
      <span class="blue-hover">
        <button class="<%= SimpleForm.button_class %>"
            data-controller="css-flip"
            data-css-flip-status-value="true"
            data-css-flip-off-class="is-closed"
            data-css-flip-on-class="is-open"
            data-action="click->css-toggle#toggle click->css-flip#toggle">
            <%= image_tag(
                "chevron-right.svg",
                width: 25,
                height: 25,
                # start with is-open to avoid initial transition
                class: "inline mb-2 slow-transition is-open",
                data: { css_flip_target: "elementToChange" }
                ) %>
        </button>
      </span>
    </div>
    <div data-css-toggle-target="elementToChange" class="resizer">
      <div class="text-xl font-bold" id="no-favorites">
        <% if current_user.favorites.empty? %>
          No favorite concerts yet
        <% end %>
      </div>
      <div id="favorite-concerts-list">
        <% current_user.favorites.each do |favorite| %>
          <%= render(favorite) %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
