<%= turbo_frame_tag("favorite-concerts") do %>
  <section class="my-4"
      data-controller="css-toggle"
      data-css-toggle-css-class="hidden"
      data-css-toggle-status-value="true">
    <div class="text-3xl font-bold">
      Favorite Concerts
      <button class="<%= SimpleForm.button_class %> py-1 text-xl font-semibold"
          data-controller="text-toggle"
          data-text-toggle-target="elementWithText"
          data-text-toggle-status-value="false"
          data-text-toggle-off-value="Hide"
          data-text-toggle-on-value="Show"
          data-action="click->css-toggle#toggle click->text-toggle#toggle">
      </button>
    </div>
    <div data-css-toggle-target="elementToChange">
      <div class="text-xl font-bold" id="no-favorites">
        <% if current_user.favorites.empty? %>
          No favorite concerts yet
        <% end %>
      </div>
      <div id="favorite-concerts-list">
        <% current_user.favorites.each do |favorite| %>
          <%= render(favorite) %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
