<section data-controller="css-toggle"
      data-css-toggle-css-class="hidden"
      data-css-toggle-status-value="true">
  <h2 class="text-3xl font-bold">
    <%= schedule_day.day.by_example("Monday, January 2, 2006") %>
    <span class="<%= SimpleForm.button_class %> py-1 text-xl font-semibold"
          data-controller="text-toggle"
          data-text-toggle-target="elementWithText"
          data-text-toggle-status-value="false"
          data-text-toggle-off-value="Hide"
          data-text-toggle-on-value="Show"
          data-action="click->css-toggle#toggle click->text-toggle#toggle">
      Hide
    </span>
  </h2>
  <% if show %>
    <section data-css-toggle-target="elementToChange" class="js--day-text">
      <% schedule_day.concerts.sort_by(&:start_time).each do |concert| %>
        <%= render(concert, user: current_user) %>
      <% end %>
    </section>
  <% end %>
</section>
