/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.slow-transition {
  transition: all 0.5s ease-in-out;
}

 .is-open {
  transform: rotate(90deg);
}

.is-closed {
  transform: rotate(0deg);
}

.blue-hover {
  transition: all 0.3s ease-in-out;
}

.blue-hover:hover {
  background-color: blue;
}

.resizer {
  transition: all 1s ease-in-out;
  max-height: 1000px;
  overflow: hidden;
}

.resizer.shrink {
  max-height: 0px;
}
